<div class="container hot-event">
  <div class="row centered">
    <h1>Г<i class="fa fa-free-code-camp" style="color:red"></i>рячие предложения</h1>
    <br><br>
    <div class="col-lg-3 hot-item">
      <i class="fa fa-heart"></i>
      <h2>Дизайнер</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et, sed do eiusmod tempor incididunt ut labt dolore magna aliqua.</p>
    </div>
    <div class="col-lg-3 hot-item">
      <i class="fa fa-television"></i>
      <h2>Программист</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et, sed do eiusmod tempor incididunt ut labt dolore magna aliqua.</p>
    </div>
    <div class="col-lg-3 hot-item">
      <i class="fa fa-car"></i>
      <h2>Водитель</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et, sed do eiusmod tempor incididunt ut labt dolore magna aliqua.</p>
    </div>
    <div class="col-lg-3 hot-item">
      <i class="fa fa-line-chart"></i>
      <h2>Аналитик</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et, sed do eiusmod tempor incididunt ut labt dolore magna aliqua.</p>
    </div>
  </div>
</div>
